# Data files (too large for GitHub)
   data/*.csv
   data/*.txt

   # Python
   __pycache__/
   *.pyc
   .env
   venv/

   # Jupyter
   .ipynb_checkpoints/

   # Environment
   .venv

   # IDE
   .vscode/
   .idea/