# Datasets
Assignments/medical-codex-pipeline/input/*.*
Assignments/medical-codex-pipeline/input/HCPCS/*.*
Assignments/medical-codex-pipeline/input/ICD_10_CM_US/*.*
Assignments/medical-codex-pipeline/input/ICD_10_CM_WHO/*.*
Assignments/medical-codex-pipeline/input/LOINC/*.*
Assignments/medical-codex-pipeline/input/NPI/*.*
Assignments/medical-codex-pipeline/input/RxNorm/*.*
Assignments/medical-codex-pipeline/input/SnowMed/*.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
# Python
   __pycache__/
   *.pyc

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
   .vscode/
   .idea/