# Datasets
input/HCPCS/*.*
input/ICD_10_CM_US/*.*
input/ICD_10_CM_WHO/*.*
input/LOINC/*.*
input/NPI/*.*
input/RxNorm/*.*
SnowMed/*.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
# Python
   __pycache__/
   *.pyc

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
   *.vscode/
   *.idea/